.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 90px;
}

.nav-items {
  position: relative;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  position: relative;
  right: 10%;
}

.nav-items > ul > li {
  font-size: 20px;
  padding: 1rem;
  padding-top: 1rem;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  border-radius: 20px;
}

.res-card {
  width: 240px;
  height: 450px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.res-card img {
  border-radius: 10px;
  width: 240px;
  height: 220px;
  object-fit: cover;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  border-radius: 20px;
  margin-top: 3%;
}

.shimmer-card {
  width: 240px;
  height: 450px;
  background-color: #f0f0f0c8;
  padding: 10px;
  margin: 10px;
}

.res-logo {
  width: 100%;
}

.login {
  width: 3.5rem;
  height: 2rem;
  color: black;
  margin: 5px;
}

.filter {
  display: flex;
}

.search {
  display: flex;
  margin: 10px;
  height: 30px;
  width: 260px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.search-box {
  width: 100%;
}
